@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;1,400&display=swap');
:root{
    --fundo: #000; 
    --texto: #fff;
    --segundaria: #4A86E5;
}
::-webkit-scrollbar{
    width: 0.4rem;
}
::-webkit-scrollbar-thumb{
    background: var(--segundaria);
}
::-webkit-scrollbar-track{
    background: var(--fundo);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--texto);
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}