.section1{
    background: var(--fundo); height: 43rem;
    display: flex; overflow: hidden;
}
.esquerdo, .direito{
    display: flex; align-items: center; justify-content: center; width: 50%;
}

/* Esquerdo */
.lapblack{ display: none; } /* A troca dos laptops é feita com js */

/* Direito */
.direito{ flex-direction: column; }
.p1{ text-align: center; font-size: 2rem; color: var(--texto);}
.pdev{
    font-family: 'Shantell Sans', cursive;
    color: var(--texto); font-size: 3.5rem;
    margin-bottom: 0.8rem;
}
.cv{
    background: var(--segundaria); color: #fff;
    border: none; margin: 1rem; padding: 0.4rem 1.52rem;
    font-size: 1rem; cursor: pointer; transition: 0.1s;
}
.cv:hover{ -moz-transform: scale(1.3); -webkit-transform: scale(1.3); transform: scale(1.3); color: #fff;}