/* Bootstrap icones */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

:root{
    --fundo1: #0a0a0a;
    --fundo2: #111111;
    --letras: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 10pt;
    color: var(--letras);
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
    outline: none;
}

body{
    background: var(--fundo1);
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.carregando{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    animation: fantasma infinite 2s;
}
/* keyframe Carregamento da pagina */
@keyframes fantasma{ 
    0%{ opacity: 1; }
    50%{ opacity: 0; }
    100%{ opacity: 1; }
}
/* Keyframe ( centro h1, projetos h2)*/
@keyframes brilho {
    0%{
        filter: drop-shadow(0.5rem 0.5rem 0.3rem #00026d);
    }90%{
        filter: none;
    }
}
main{
    height: 100vh;
    width: 100vw;
    opacity: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
