/* Bootstrap icones */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

:root{
    --fundo1: #0a0a0a;
    --fundo2: #111111;
    --letras: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 10pt;
    color: var(--letras);
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
    transition: 0.3s;
    outline: none;
}
body{
    height: 100vh;
    background: var(--fundo1);
    overflow: hidden;
    display: flex;
}
main{
    opacity: 0;
    transition: 1s;
    display: flex;
    height: 100vh;
    padding: 0.5rem;
    margin: auto;
}
.carregando{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    animation: fantasma infinite 2s;
}
@keyframes fantasma{
    0%{ opacity: 1; }
    50%{ opacity: 0; }
    100%{ opacity: 1; }
}
button{
    cursor: pointer;
}
.version{
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.1;
    font-size: 0.8rem;
}