.lateralE{
    background: var(--fundo1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--principal);
    position: relative;
}
.menu{
    line-height: 80px;
    padding: 0 70px;
}
.btnPerfil{
    display: none;
}
.lateralE a{
    color: var(--letras);
    padding: 1rem;
}
.btnNoturno{
    background: transparent;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.btnNoturno i, .btnMenu i{
    color: var(--letras);
    font-size: 15pt;
}
.bi-moon{
    display: none;
}