.lateralE{
    background: var(--fundo1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--letras);
    position: relative;
}
.btnMenu{
    display: none;
}
.menu{
    line-height: 80px;
    padding: 0 70px;
}
.btnPerfil{
    display: none;
}
.lateralE li:hover{
    transform: translateX(1rem);
}
.btnNoturno{
    background: transparent;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
}
.btnNoturno i, .btnMenu i{
    color: #ffffff;
    font-size: 15pt;
}
.bi-moon{
    display: none;
}