.lateralE{
    background: var(--fundo1);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #00026d;
    position: relative;
}
.btnMenu{
    display: none;
}
.menu{
    line-height: 80px;
    padding: 0 70px;
}
.btnPerfil{
    display: none;
}
.lateralE li{
    cursor: pointer;
    color: var(--letras);
}
.lateralE a{
    color: var(--letras);
    padding: 1rem;
}
.lateralE li:hover{
    transform: translateX(1rem);
}
.lateralE a:hover{
    filter: drop-shadow(0.3rem 0.3rem 0.5rem #00026d);
}
.btnNoturno{
    background: transparent;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}
.btnNoturno i:hover{
    filter: drop-shadow(0.3rem 0.3rem 0.5rem #00026d);
}
.btnNoturno i, .btnMenu i{
    color: var(--letras);
    font-size: 15pt;
}
.bi-moon{
    display: none;
}