.lateralE{
    background: #1d1d1db6;
    height: 97vh;
    width: 4rem;
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    z-index: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.btnMenu{
    position: absolute;
    background: transparent;
    border: none;
    right: 0.5rem;
    top: 0.5rem;
    transform: rotate(90deg);
    padding: 1rem;
    color: #fff;
}
.menu{
    list-style-type: none;
    line-height: 4rem;
    transition: 1s;
    padding-right: 15rem;
}
.lateralE a{
    font-size: 1.5rem;
    color: #fff;
}
.lateralE li{
    transition: 0.3s;
}
.lateralE li:hover{
    transform: translateX(1rem);
}
.btnNoturno{
    background: transparent;
    border: none;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    right: 2;
    cursor: pointer;
}
.lua{
    color: #fff;
}
.displayN{
    display: none;
}