@media only screen and (max-width : 900px){
    .lateralD{
        right: -20rem;
    }
    .centro{
        margin-right: 0;
    }
    .abrirPerfil{
        position: initial;
        font-size: 1.5rem;
    }
    .perfil h2 {
        display: none;
    }
    .perfil{
        transform: scale(0.6);
        position: absolute;
        left: -8rem;
        top: -2rem;
        background: transparent;
    }
    .abrirPerfil{
        display: initial;
    }
}
@media only screen and (max-width : 780px){
    .tituloSection{
        font-size: 2rem;
    }
    .sobre h1{
        font-size: 2.2rem;
    }
    .sobre p{
        font-size: 1rem;
    }
    .projeto{
        align-items: center;
        flex-direction: column;
    }
}
@media only screen and (max-width : 500px){
    .laptop{
        display: none;
    }
    input, textarea{
        max-width: 20rem;
        min-width: 20rem;
        max-height: 10rem;
        min-height: 3rem;
        margin-bottom: 1rem;
    }
    .centro, .lateralD, .lateralE{
        height: 90vh;
    }
}
@media only screen and (max-width : 400px){

}